{% load static %}
<!-- Site Icons -->
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<!-- Site CSS -->
<link rel="stylesheet" href="{% static "css/style.css" %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static "css/responsive.css" %}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static "css/custom.css" %}">

<!--[if lt IE 9]>
      <script src="{% static "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" %}"></script>
      <script src="{% static "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" %}"></script>
    <![endif]-->